<div class="main-gallery">
  <div class="gallery-container">
    <button class="icon-favoritar">{% render "icon-favoritar" %}</button>
    {% if product.selected_or_first_available_variant.featured_image %}
      {% assign featured = product.selected_or_first_available_variant.featured_image %}
      <img
        src="{{ featured | image_url }}"
        id="product-image"
        class="product-main-image"
        alt="">
    {% else %}
      {% assign featured = product.featured_image %}
      <img
        src="{{ featured | image_url }}"
        id="product-image"
        class="product-main-image"
        alt="">
    {% endif %}
  </div>
</div>
