<div class="thumbnail-container">
  <div class="arrow arrow-up">{% render "icon-arrow-up" %}</div>
  <ul class="thumbnail-images">
    {% if product.selected_or_first_available_variant.featured_image %}
        {% assign featured = product.selected_or_first_available_variant.featured_image %}
    {% else %}
        {% assign featured = product.featured_image %}
    {% endif %}
    {% for image in product.images %}
      <li class="thumbnail-item {% if image == featured %}thumbnail-item-active{% endif %}" data-alt="{{ image.alt }}">
        <img
          src="{{ image.src | image_url }}"
          class="thumbnail-image"
          alt="{{ image.alt }}">
      </li>
    {% endfor %}
  </ul>
  <div class="arrow arrow-down">{% render "icon-arrow-down" %}</div>
</div>
